### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

*~
._*
*.swp
.sass-cache/
/logs/
bin/
tmp/

# Files that might appear on external disk
.Spotlight-V100
.Trashes


# customized
.zsh-update
.sh_history

vim/_backup
vim/_temp
vim/after
vim/bundle/*
!vim/bundle/Vundle.vim
vim/node_modules
vim/.netrwhist*

zsh/.oh-my-zsh
zsh/.zsh-update
zsh/.zsh_history
